.click-button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.info-button   {
   display: flex;
   gap: 20px;
   margin-top: 2rem;
}

.info-button movies {
   background-color: green;
}