@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Mukta:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

a {
  text-decoration: none;
  width: max-content;
  color: #000;
  height: fit-content;
}
